# This is a template for the .env file.

# The base url for the LlamaCloud API deployed by your helm-chart.
# This can be port-forwarded from the llama-cloud-api service.
# For example, if you run:
# kubectl --namespace <your ns> port-forward svc/llamacloud-backend 8000:8000
# You can set the base url to http://localhost:8000
LLAMACLOUD_API_BASE_URL=http://localhost:8000

# The API key for the LlamaCloud API.
# This can be created in the LlamaCloud UI.
# Ensure that this is a project-scoped API key.
LLAMACLOUD_PROJECT_API_KEY=llx-xxx
