apiVersion: v1
kind: ConfigMap
metadata:
  name: common-config
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  IS_DEPLOYED: "true"
  DEPLOYMENT_MODE: "prod"
  PARSE_PREMIUM: "true"
  ALLOWED_INDEX: "true"