{{- if and (.Values.temporal).enabled (.Values.temporal).host (.Values.temporal).port }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: temporal-connection-config
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  TEMPORAL_HOST: {{ (.Values.temporal).host | quote }}
  TEMPORAL_PORT: {{ (.Values.temporal).port | quote }}
  TEMPORAL_NAMESPACE: {{ ((.Values.config).temporal).namespace | default $.Release.Namespace | quote }}
  TEMPORAL_WORKER_REGISTRY_PROFILE: {{ (.Values.config).workerRegistryProfile | default "consolidated" | quote }}
  TEMPORAL_JOB_SERVICE_URL: {{ printf "http://%s:%d" (include "llamacloud.component.temporal.jobsService" $ | fromYaml).name ( "80" | int) | quote }}
{{- end }}