{{- if .Values.ingress.enabled  -}}
{{- $ingressClassName := .Values.ingress.ingressClassName | required ".Values.ingress.ingressClassName is required" -}}
{{- $host := .Values.ingress.host | required ".Values.ingress.host is required" -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
    {{- with .Values.ingress.annotations -}}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ $ingressClassName }}
  rules:
  - host: {{ $host }}
    http:
      paths:
      - backend:
          service:
            name: {{ (include "llamacloud.component.backend" . | fromYaml ).name }}
            port:
              number: 80
        path: "/api"
        pathType: Prefix
      - backend:
          service:
            name: {{ (include "llamacloud.component.frontend" . | fromYaml ).name }}
            port:
              number: 80
        path: /
        pathType: Prefix
{{- if .Values.ingress.tlsSecretName }}
  tls:
  - hosts:
    - {{ $host }}
    secretName: {{ .Values.ingress.tlsSecretName }}
{{- end -}}
{{- end -}}