{{- if (((.Values.config).authentication).oidc).enabled }}
{{- if not (((.Values.config).authentication).oidc).secret }}
apiVersion: v1
kind: Secret
metadata:
  name: oidc-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  OIDC_DISCOVERY_URL: {{ required ".Values.config.authentication.oidc.discoveryUrl is required when OIDC is enabled and no secret is provided" (((.Values.config).authentication).oidc).discoveryUrl | b64enc | quote }}
  OIDC_CLIENT_ID: {{ required ".Values.config.authentication.oidc.clientId is required when OIDC is enabled and no secret is provided" (((.Values.config).authentication).oidc).clientId | b64enc | quote }}
  OIDC_CLIENT_SECRET: {{ required ".Values.config.authentication.oidc.clientSecret is required when OIDC is enabled and no secret is provided" (((.Values.config).authentication).oidc).clientSecret | b64enc | quote }}
  SESSION_SECRET_KEY: {{ randAlphaNum 64 | b64enc | quote }}
{{- end }}
{{- end }}