{{- if and (((.Values.config).authentication).basicAuth).enabled (((.Values.config).authentication).oidc).enabled }}
{{- fail "Cannot enable both basic authentication and OIDC authentication at the same time. Please choose one authentication method." -}}
{{- end }}
{{- if not ( or (((.Values.config).authentication).basicAuth).enabled (((.Values.config).authentication).oidc).enabled ) }}
{{- fail "Must enable either basic authentication or OIDC authentication. Please choose an authentication method." -}}
{{- end }}
{{- if (((.Values.config).authentication).basicAuth).enabled }}
{{- if not (((.Values.config).authentication).basicAuth).secret }}
apiVersion: v1
kind: Secret
metadata:
  name: basic-auth-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  BYOC_AUTH_MODE: {{ print "basic" | b64enc | quote }}
  BYOC_VALID_EMAIL_DOMAIN: {{ required ".Values.config.authentication.basicAuth.validEmailDomain is required when basic auth is enabled and no secret is provided" (((.Values.config).authentication).basicAuth).validEmailDomain | b64enc | quote }}
  BYOC_JWT_SECRET: {{ required ".Values.config.authentication.basicAuth.jwtSecret is required when basic auth is enabled and no secret is provided" (((.Values.config).authentication).basicAuth).jwtSecret | b64enc | quote }}
{{- end }}
{{- end }}