{{- if not (.Values.redis).secret }}
{{- if not (.Values.redis).host }}
{{- fail ".Values.redis.host cannot be empty. Please provide a valid redis host" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  REDIS_SCHEME: {{ .Values.redis.scheme | default "6379" | b64enc | quote }}
  REDIS_PORT: {{ .Values.redis.port | default "6379" | b64enc | quote }}
  REDIS_DB: {{ .Values.redis.db | default "0" | b64enc | quote }}
  REDIS_HOST: {{ .Values.redis.host | b64enc | quote }}
  REDIS_USERNAME: {{ .Values.redis.username | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.redis.password | b64enc | quote }}
{{- end }}
