{{- if not (.Values.rabbitmq).secret }}
{{- if not (.Values.rabbitmq).connectionString }}
{{- if not (.Values.rabbitmq).host }}
{{- fail ".Values.rabbitmq.host cannot be empty. Please provide a valid rabbitmq host or connection string" }}
{{- end }}
{{- if not (.Values.rabbitmq).username }}
{{- fail ".Values.rabbitmq.username cannot be empty. Please provide a valid rabbitmq username or connection string" }}
{{- end }}
{{- if not (.Values.rabbitmq).password }}
{{- fail ".Values.rabbitmq.password cannot be empty. Please provide a valid rabbitmq password or connection string" }}
{{- end }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
{{- if .Values.rabbitmq.connectionString }}
  JOB_QUEUE_CONNECTION_STRING: {{ .Values.rabbitmq.connectionString | b64enc | quote }}
{{- else }}
  # JOB_QUEUE_CONNECTION_STRING: {{ printf "%s://%s:%s@%s:%d?frameMax=0" ( .Values.rabbitmq.scheme | default "amqp" ) .Values.rabbitmq.username .Values.rabbitmq.password .Values.rabbitmq.host ( .Values.rabbitmq.port | default 5672 ) | b64enc | quote }}
  JOB_QUEUE_ENDPOINT: {{ printf "%s://%s:%s" ( .Values.rabbitmq.scheme | default "amqp" ) .Values.rabbitmq.host ( .Values.rabbitmq.port | default 5672 ) | b64enc | quote }}
  JOB_QUEUE_USERNAME: {{ .Values.rabbitmq.username | b64enc | quote }}
  JOB_QUEUE_PASSWORD: {{ .Values.rabbitmq.password | b64enc | quote }}
{{- end }}
{{- end }}
