{{- if ( and (.Values.qdrant).enabled (not (.Values.qdrant).secret) ) }}
{{- if not (.Values.qdrant).url }}
{{- fail ".Values.qdrant.url cannot be empty. Please provide a valid qdrant url" }}
{{- end }}
{{- if not (.Values.qdrant).apiKey }}
{{- fail ".Values.qdrant.apiKey cannot be empty. Please provide a valid qdrant apiKey" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: qdrant-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  QDRANT_URL: {{ .Values.qdrant.url | b64enc | quote }}
  QDRANT_API_KEY: {{ .Values.qdrant.apiKey | b64enc | quote }}
  BYOC_HAS_MANAGED_QDRANT: {{ print "true" | b64enc | quote }}
{{- end }}
