{{- if not (.Values.postgresql).secret }}
{{- if not (.Values.postgresql).host }}
{{- fail ".Values.postgresql.host cannot be empty. Please provide a valid postgres host" }}
{{- end }}
{{- if not (.Values.postgresql).database }}
{{- fail ".Values.postgresql.database cannot be empty. Please provide a valid postgres database" }}
{{- end }}
{{- if not (.Values.postgresql).username }}
{{- fail ".Values.postgresql.username cannot be empty. Please provide a valid postgres username" }}
{{- end }}
{{- if not (.Values.postgresql).password }}
{{- fail ".Values.postgresql.password cannot be empty. Please provide a valid postgres password" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  DATABASE_HOST: {{ .Values.postgresql.host | b64enc | quote  }}
  DATABASE_PORT: {{ .Values.postgresql.port | default 5432 | b64enc | quote  }}
  DATABASE_NAME: {{ .Values.postgresql.database | b64enc | quote  }}
  DATABASE_USER: {{ .Values.postgresql.username | b64enc | quote  }}
  DATABASE_PASSWORD: {{ .Values.postgresql.password | b64enc | quote  }}
{{- end }}
