{{- if not (.Values.mongodb).secret }}
{{- if not (.Values.mongodb).mongodb_url }}
  {{- if not (.Values.mongodb).host }}
  {{- fail ".Values.mongodb.host cannot be empty. Please provide a valid mongodb host" }}
  {{- end }}
  {{- if not (.Values.mongodb).username }}
  {{- fail ".Values.mongodb.username cannot be empty. Please provide a valid mongodb username" }}
  {{- end }}
  {{- if not (.Values.mongodb).password }}
  {{- fail ".Values.mongodb.password cannot be empty. Please provide a valid mongodb password" }}
  {{- end }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  MONGODB_HOST: {{ .Values.mongodb.host | b64enc | quote  }}
  MONGODB_URL_SCHEME: {{ .Values.mongodb.scheme | default "mongodb" | b64enc | quote  }}
  MONGODB_PORT: {{ .Values.mongodb.port | default 27017 | b64enc | quote  }}
  MONGODB_USER: {{ .Values.mongodb.username | b64enc | quote  }}
  MONGODB_PASSWORD: {{ .Values.mongodb.password | b64enc | quote  }}
  MONGODB_URL: {{ .Values.mongodb.mongodb_url | b64enc | quote  }}
{{- end }}
