{{- if not (.Values.license).secret }}
{{- if not (.Values.license).key }}
{{- fail ".Values.license.key cannot be empty. Please provide a valid license key" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: llamacloud-license-key
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  LLAMACLOUD_LICENSE_KEY: {{ .Values.license.key | b64enc | quote }}
{{- end }}
