{{- if (((.Values.config).llms).azureOpenAi).deployments }}
apiVersion: v1
kind: Secret
metadata:
  name: azure-open-ai-api-key-secret
  namespace: {{ $.Release.Namespace | quote }}
  labels: {{ include "llamacloud.labels" (dict "root" $) | indent 4 }}
  annotations: {{ include "llamacloud.annotations" (dict "root" $) | indent 4 }}
data:
  {{- range $idx, $deployment := (((.Values.config).llms).azureOpenAi).deployments -}}
  {{- if not (and $deployment.model $deployment.apiKey $deployment.baseUrl $deployment.apiVersion) -}}
    {{- fail (printf "Azure OpenAI deployment %s at index %d is missing required fields: model, apiKey, baseUrl, or apiVersion" $deployment.model $idx) -}}
  {{- end -}}
  {{ $MODEL_NAME_PREFIX := printf "AZURE_OPENAI_%s" ($deployment.model | replace "." "_" | replace "-" "_" | upper) | upper }}
  {{ $MODEL_NAME_PREFIX }}_API_KEY: {{ $deployment.apiKey | b64enc | quote }}
  {{ $MODEL_NAME_PREFIX }}_BASE_URL: {{ $deployment.baseUrl | b64enc | quote }}
  {{ $MODEL_NAME_PREFIX }}_DEPLOYMENT_NAME: {{ $deployment.deploymentName | default $deployment.model | b64enc | quote }}
  {{ $MODEL_NAME_PREFIX }}_API_VERSION: {{ $deployment.apiVersion | b64enc | quote }}
  {{- end }}
{{ end }}